<spam color=orange> || जय श्री राम || <spam>

- Name = Prathmeshh Bhimraj Bhukele
- Contact = 8291159068
- Email = prathmeshbb26@gmail.com

In [2]:
import pandas as pd
import numpy as nnp
import seaborn as sns

# Expolring Data

In [3]:
covid = pd.read_csv("covidtest.csv")

C:\Users\Prathmesh\AppData\Local\Temp\ipykernel_3160\4097845016.py:1: DtypeWarning: Columns (2,3,4,5,6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  covid = pd.read_csv("covidtest.csv")

In [11]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278848 entries, 0 to 278847
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Ind_ID               278848 non-null  int64
 1   Test_date            278848 non-null  object
 2   Cough_symptoms       278596 non-null  object
 3   Fever                278596 non-null  object
 4   Sore_throat          278847 non-null  object
 5   Shortness_of_breath  278847 non-null  object
 6   Headache             278847 non-null  object
 7   Corona               278848 non-null  object
 8   Age_60_above         151528 non-null  object
 9   Sex                  259285 non-null  object
 10  Known_contact        278848 non-null  object
dtypes: int64(1), object(10)
memory usage: 23.4+ MB

In [5]:
covid.head()

,Ind_ID,Test_date,Cough_symptoms,Fever,Sore_throat,Shortness_of_breath,Headache,Corona,Age_60_above,Sex,Known_contact
0,1,11-03-2020,True,False,True,False,False,negative,NaN,NaN,Abroad
1,2,11-03-2020,False,True,False,False,False,positive,NaN,NaN,Abroad
2,3,11-03-2020,False,True,False,False,False,positive,NaN,NaN,Abroad
3,4,11-03-2020,True,False,False,False,False,negative,NaN,NaN,Abroad
4,5,11-03-2020,True,False,False,False,False,negative,NaN,NaN,Contact with confirmed

In [8]:
covid.shape

(278848, 11)

In [10]:
covid.isnull().sum()

Ind_ID                      0
Test_date                   0
Cough_symptoms            252
Fever                     252
Sore_throat                 1
Shortness_of_breath         1
Headache                    1
Corona                      0
Age_60_above           127320
Sex                     19563
Known_contact               0
dtype: int64

In [13]:
covid.describe(include="all")

,Ind_ID,Test_date,Cough_symptoms,Fever,Sore_throat,Shortness_of_breath,Headache,Corona,Age_60_above,Sex,Known_contact
count,278848.000000,278848,278596,278596,278847,278847,278847,278848,151528,259285,278848
unique,NaN,51,2,2,2,2,2,3,2,2,3
top,NaN,20-04-2020,False,False,False,False,False,negative,No,female,Other
freq,NaN,10921,236368,256844,276921,277270,276433,260227,125703,130158,242741
mean,139424.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,80496.628269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,69712.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,139424.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,209136.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,278848.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
covid.duplicated().sum()

0

In [19]:
covid.columns

Index(['Ind_ID', 'Test_date', 'Cough_symptoms', 'Fever', 'Sore_throat',
       'Shortness_of_breath', 'Headache', 'Corona', 'Age_60_above', 'Sex',
       'Known_contact'],
      dtype='object')

In [35]:
coviddrop = covid.drop(['Ind_ID'],axis=1)

In [36]:
coviddrop.columns

Index(['Test_date', 'Cough_symptoms', 'Fever', 'Sore_throat',
       'Shortness_of_breath', 'Headache', 'Corona', 'Age_60_above', 'Sex',
       'Known_contact'],
      dtype='object')

In [37]:
coviddrop.nunique()

Test_date              51
Cough_symptoms          2
Fever                   2
Sore_throat             2
Shortness_of_breath     2
Headache                2
Corona                  3
Age_60_above            2
Sex                     2
Known_contact           3
dtype: int64

In [52]:
# viewing unique values in each variable 
pd.Series({c:coviddrop[c].unique() for c in coviddrop})

Test_date              [11-03-2020, 12-03-2020, 13-03-2020, 14-03-202...
Cough_symptoms                                        [True, False, nan]
Fever                                                 [False, True, nan]
Sore_throat                                           [True, False, nan]
Shortness_of_breath                                   [False, True, nan]
Headache                                              [False, True, nan]
Corona                                       [negative, positive, other]
Age_60_above                                              [nan, No, Yes]
Sex                                                  [nan, male, female]
Known_contact                    [Abroad, Contact with confirmed, Other]
dtype: object

In [45]:
for c in coviddrop.columns:
    print("----%s----"% c)
    print(covid[c].value_counts())

----Test_date----
Test_date
20-04-2020    10921
19-04-2020    10199
22-04-2020     9646
21-04-2020     9624
16-04-2020     9138
23-04-2020     8744
01-04-2020     8654
13-04-2020     8425
02-04-2020     8188
03-04-2020     8079
17-04-2020     7645
05-04-2020     7509
30-04-2020     7313
27-04-2020     7304
15-04-2020     7149
31-03-2020     7134
24-04-2020     7028
26-03-2020     6663
14-04-2020     6571
28-04-2020     6334
18-04-2020     6321
26-04-2020     6131
12-04-2020     5984
27-03-2020     5963
07-04-2020     5931
30-03-2020     5915
10-04-2020     5678
28-03-2020     5602
25-03-2020     5495
06-04-2020     5368
29-03-2020     5277
04-04-2020     5145
25-04-2020     5052
24-03-2020     4735
09-04-2020     4539
11-04-2020     4341
29-04-2020     4259
08-04-2020     4058
22-03-2020     3565
23-03-2020     3494
19-03-2020     2243
18-03-2020     1991
20-03-2020     1870
21-03-2020     1648
17-03-2020     1463
16-03-2020     1304
15-03-2020      985
13-03-2020      686
12-03-2020      634
14-03-2020      609
11-03-2020      294
Name: count, dtype: int64
----Cough_symptoms----
Cough_symptoms
False    236368
True      42228
Name: count, dtype: int64
----Fever----
Fever
False    256844
True      21752
Name: count, dtype: int64
----Sore_throat----
Sore_throat
False    276921
True       1926
Name: count, dtype: int64
----Shortness_of_breath----
Shortness_of_breath
False    277270
True       1577
Name: count, dtype: int64
----Headache----
Headache
False    276433
True       2414
Name: count, dtype: int64
----Corona----
Corona
negative    260227
positive     14729
other         3892
Name: count, dtype: int64
----Age_60_above----
Age_60_above
No     125703
Yes     25825
Name: count, dtype: int64
----Sex----
Sex
female    130158
male      129127
Name: count, dtype: int64
----Known_contact----
Known_contact
Other                     242741
Abroad                     25468
Contact with confirmed     10639
Name: count, dtype: int64

In [46]:
coviddrop['Cough_symptoms'].value_counts()

Cough_symptoms
False    236368
True      42228
Name: count, dtype: int64

In [49]:
covidfilled = coviddrop.dropna(subset=['Cough_symptoms','Fever','Sore_throat','Shortness_of_breath','Headache'])

In [50]:
covidfilled.head()

,Test_date,Cough_symptoms,Fever,Sore_throat,Shortness_of_breath,Headache,Corona,Age_60_above,Sex,Known_contact
0,11-03-2020,True,False,True,False,False,negative,NaN,NaN,Abroad
1,11-03-2020,False,True,False,False,False,positive,NaN,NaN,Abroad
2,11-03-2020,False,True,False,False,False,positive,NaN,NaN,Abroad
3,11-03-2020,True,False,False,False,False,negative,NaN,NaN,Abroad
4,11-03-2020,True,False,False,False,False,negative,NaN,NaN,Contact with confirmed

In [53]:
# viewing unique values in each variable 
pd.Series({c:covidfilled[c].unique() for c in covidfilled})

Test_date              [11-03-2020, 12-03-2020, 13-03-2020, 14-03-202...
Cough_symptoms                                             [True, False]
Fever                                                      [False, True]
Sore_throat                                                [True, False]
Shortness_of_breath                                        [False, True]
Headache                                                   [False, True]
Corona                                       [negative, positive, other]
Age_60_above                                              [nan, No, Yes]
Sex                                                  [nan, male, female]
Known_contact                    [Abroad, Contact with confirmed, Other]
dtype: object

In [56]:
covidfilled['Corona'].value_counts()

Corona
negative    260008
positive     14694
other         3892
Name: count, dtype: int64

In [57]:
covidfilled['Age_60_above'].value_counts()

Age_60_above
No     125504
Yes     25775
Name: count, dtype: int64

In [58]:
covidfilled['Sex'].value_counts()

Sex
female    130030
male      129012
Name: count, dtype: int64