<spam color=orange> || जय श्री राम || <spam>

- Name = Prathmeshh Bhimraj Bhukele
- Contact = 8291159068
- Email = prathmeshbb26@gmail.com

In [3]:
import pandas as pd
import numpy as nnp
import seaborn as sns

In [5]:
covid = pd.read_csv("covidtest.csv")

C:\Users\Prathmesh\AppData\Local\Temp\ipykernel_216\4097845016.py:1: DtypeWarning: Columns (2,3,4,5,6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  covid = pd.read_csv("covidtest.csv")

In [7]:
covid.info

<bound method DataFrame.info of         Ind_ID   Test_date Cough_symptoms  Fever Sore_throat  \
0            1  11-03-2020           True  False        True
1            2  11-03-2020          False   True       False
2            3  11-03-2020          False   True       False
3            4  11-03-2020           True  False       False
4            5  11-03-2020           True  False       False
...        ...         ...            ...    ...         ...
278843  278844  30-04-2020          False  False       False
278844  278845  30-04-2020          False  False       False
278845  278846  30-04-2020          False  False       False
278846  278847  30-04-2020          False  False       False
278847  278848  30-04-2020          False  False       False

       Shortness_of_breath Headache    Corona Age_60_above     Sex  \
0                    False    False  negative          NaN     NaN
1                    False    False  positive          NaN     NaN
2                    False    False  positive          NaN     NaN
3                    False    False  negative          NaN     NaN
4                    False    False  negative          NaN     NaN
...                    ...      ...       ...          ...     ...
278843               False    False  positive          NaN    male
278844               False    False  negative          NaN  female
278845               False    False  negative          NaN    male
278846               False    False  negative          NaN    male
278847               False    False  negative          NaN  female

                 Known_contact
0                       Abroad
1                       Abroad
2                       Abroad
3                       Abroad
4       Contact with confirmed
...                        ...
278843                   Other
278844                   Other
278845                   Other
278846                   Other
278847                   Other

[278848 rows x 11 columns]>

In [8]:
covid.head()

,Ind_ID,Test_date,Cough_symptoms,Fever,Sore_throat,Shortness_of_breath,Headache,Corona,Age_60_above,Sex,Known_contact
0,1,11-03-2020,True,False,True,False,False,negative,NaN,NaN,Abroad
1,2,11-03-2020,False,True,False,False,False,positive,NaN,NaN,Abroad
2,3,11-03-2020,False,True,False,False,False,positive,NaN,NaN,Abroad
3,4,11-03-2020,True,False,False,False,False,negative,NaN,NaN,Abroad
4,5,11-03-2020,True,False,False,False,False,negative,NaN,NaN,Contact with confirmed